<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Edit Your List</h3>
    <form method="post" action="/Listings/<%= listing._id%>?_method=put" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" value="<%= listing.title  %>" name="Listing[title]"  required>
        <div class="invalid-feedback">Title is required</div>
       
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
        <textarea class="form-control" type="text" placeholder="Describe your listing" name="Listing[description]"  required ><%=listing.description %></textarea>
        <div class="invalid-feedback">Description is required</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
        <input type="text" class="form-control" value="<%= listing.image.url %>" name="Listing[image]" required>
        <div class="invalid-feedback">Image URL is required</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4" >
            <label for="price" class="form-label">Price</label>
        <input type="number"class="form-control"value="<%=listing.price%>" name="Listing[price]"  required>
        <div class="invalid-feedback">Price is required</div>
        </div>
        <div class="mb-3 col-md-8" >
            <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" value="<%= listing.country %>" name="Listing[country]"  required>
        <div class="invalid-feedback">Country is required</div>
        </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" value="<%=listing.location%>" name="Listing[location]"  required>
        <div class="invalid-feedback">Location is required</div>
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Update</button>
        <br><br>
    </form>
    </div>
    </div>       
</body>
</html>