<% layout("/layouts/boilerplate") %>
<body>
  <%= success %>
    <h2>All listings</h2>
    <!-- <form method="get" action="/Listings/new">
        <button>Add New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <% for(let listing of allListings){%>
    <a href="/Listings/<%= listing._id %>" class="listing-link">
        
    <div class="card col listing-card" >
  <img src="<%= listing.image.url%>" class="card-img-top" alt="Listing" style="height: 20rem;" >
  <div class="card-img-overlay">
  </div>
  <div class="card-body">
    <p class="card-text">
     <% if (listing.price) { %>
  &#x20A8;<%= listing.price.toLocaleString("en-PK") %>
<% } else { %>
  Price Not Available
<% } %>
    </p>
  </div>
</div>
    </a>
<% } %>
    </div>
    <!-- Pagination Buttons -->
  <div class="d-flex justify-content-center mt-4">
    <% if (page > 1) { %>
      <a href="?page=<%= page - 1 %>" class="btn btn-outline-dark me-2">Previous</a>
    <% } %>

    <span class="align-self-center">Page <%= page %> of <%= totalPages %></span>

    <% if (page < totalPages) { %>
      <a href="?page=<%= page + 1 %>" class="btn btn-outline-dark ms-2">Next</a>
    <% } %>
  </div>
</body>


